<div class="row">
  <div class="col-md-8">
    <div class="box">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:'form-horizontal' }) do |f| %>
        <%= render "shared/error_messages", target: resource %>
        <fieldset>
          <legend>忘记了密码？</legend>
          <div class="form-group">
            <%= f.label :email, "邮箱", class: "col-sm-2 control-label" %>
            <div class="col-sm-9">
              <%= f.email_field :email, autofocus: true, class:"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <%= f.submit "修改我的密码", class: "btn btn-primary" %>
            </div>
          </div>

        </fieldset>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>





