<%= form_for(@survey) do |f| %>
  <%= render 'shared/error_messages', target: @survey %>
    <div class="box">
      <h2>问卷基本信息</h2>
      <div class="form-group">
        <%= f.label :name, "* 问卷名称" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :intro, "问卷简介" %>
        <%= f.text_area :intro, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :tagline, "* 标签" %>
        <%= f.text_field :tagline, class: 'form-control' %>
      </div>
    </div>
    
    <div class="box">
      <h2>新建问题</h2>
      <%= f.fields_for :questions do |builder| %>
        <%= render 'question_fields', f: builder %>
      <% end %>
    
      <div class="form-group">
        <%= link_to_add_association '添加问题', f, :questions, class: 'btn btn-default' %>
      </div>
    </div>
    
    <div class="box">
      <%= f.submit "创建问卷", class: "btn btn-primary" %>
    </div>
  
<% end %>

<% content_for :scripts do %>
<script>
function add_answer(target)
{
  var select = $(target);
  if (select.val() == 3) {
    
  }
  
  alert("<%= j render "/surveys/answer_fields", f:  %>");
}
</script>
<% end %>
