<div class="box">
  <h2><%= @survey.name %></h2>
  <%= render_survey_intro(@survey) %>
  
  <ul class="question-items">
    <% @survey.questions.each do |q| %>
      <li>
        <h4><%= q.title %></h4>
        <%= render_question_help_text(q) %>
        <%= render_answer_items(q) %>
      </li>
    <% end %>
  </ul>
</div>

<% unless @survey.published? %>
  <div class="box center">
    <%= link_to '修改问卷', edit_survey_path(@survey), class: "btn btn-default" %>
    <%= link_to '发布问卷', publish_survey_path(@survey), method: :patch, class: "btn btn-primary" %>
  </div>
<% end %>
