<div class="box">
  <h2><%= @survey.name %></h2>
  <%= render_survey_intro(@survey) %>
  
  <ul class="question-items">
    <% @survey.questions.each do |q| %>
      <li>
        <h4><%= q.title %></h4>
        <%= render_question_help_text(q) %>
        <%= render_answer_items(q) %>
      </li>
    <% end %>
  </ul>
</div>
